/* src/pages/Skills/Skills.css */

.skills-container {
  max-width: 1140px;
  margin: auto;
  background: linear-gradient(to bottom right, #f8f9fa, #e9ecef);
  border-radius: 1rem;
  padding: 20px;
}

.skills-container h2 {
  font-weight: 700;
  font-size: 2.2rem;
  color: #28a745;
  border-bottom: 2px solid #28a745;
  padding-bottom: 12px;
  margin-bottom: 40px;
}

.skill-card {
  border-radius: 1rem;
  background-color: #f9f9f9;
  transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
  border: none;
}

.skill-card:hover {
  transform: scale(1.05);
  background-color: #e9f7ef;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 1.4rem;
  font-weight: 600;
  color: #28a745;
}
